.App {
  text-align: center;
  background-color: rgba(0, 217, 255, 0.438);
  width: 80%;
  margin: 5% auto;
}
.Header {
  color: #ff8080;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
